<style type="text/css">
    /* Prevent copy paste for all elements except text fields */
    *  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
    input, textarea  { -webkit-user-select:text; }
</style>
<link rel="stylesheet" href="/cm/codemirror.css">
<link rel="stylesheet" href="/cm/theme/eclipse.css">
<script src="/js/file_tools.js"></script>
<script src="/cm/codemirror.js"></script>
<script src="/cm/addon/hint/show-hint.js"></script>
<script src="/cm/addon/hint/javascript-hint.js"></script>
<script src="/cm/mode/javascript/javascript.js"></script>
<script src="/cm/addon/fold/foldcode.js"></script>
<link rel="stylesheet" href="/cm/addon/fold/foldgutter.css" />
<script src="/cm/addon/fold/foldgutter.js"></script>
<script src="/cm/addon/fold/brace-fold.js"></script>
<script src="/cm/addon/fold/xml-fold.js"></script>
<script src="/cm/addon/fold/comment-fold.js"></script>
<script src="/cm/mode/xml/xml.js"></script>
<script src="/cm/mode/css/css.js"></script>
<script src="/cm/addon/selection/active-line.js"></script>

<style>
    li {
        list-style-image: none;
        list-style: none;
        list-style-type: none;
    }
    ul {
        list-style-image: none;
        list-style: none;
        list-style-type: none;
    }

    .nav-tabs li.active{
        box-shadow: none;
        font-weight:400;
    }
    .nav-tabs li a, .nav-tabs li.active a, .nav-tabs li.active a:focus {
        border:none;
        box-shadow: none;
        background-color:transparent;
        margin-top:1px;
    }
    .nav-tabs li.active a:hover
    {
        border:none;
        box-shadow: none;
        background-color:transparent;
        color:#333333;
    }
    .nav-tabs li a:hover{
        border:none;
        box-shadow: none;
        background-color:transparent;
        color:#FF6600;
        text-decoration: underline;
    }
    .nav li{
        margin: -2px;
    }

</style>

<div style="margin-left:-6px;margin-top:0px;">
<span id="buttons" class="jxbuttons">
<i class="fa fa-fw fa-align-justify" style="color: #757a7b;"></i>&nbsp;&nbsp;
<a id="btn_refresh" data-original-title="{{label.RefreshTooltip}}" class="jxbtn">
    <i class="fa fa-refresh"></i><span class="dummy-label">{{label.Refresh}}</span>
</a>
<a id="btn_add" data-original-title="{{label.AddTooltip}}" class="jxbtn">
    <i class="fa fa-plus"></i><span class="dummy-label">{{label.Add}}</span>
</a>
<a id="btn_remove" data-original-title="{{label.DeleteTooltip}}"  class="jxbtn">
    <i class="fa fa-times"></i><span class="dummy-label">{{label.Delete}}</span>
</a>
<a id="btn_rename" data-original-title="{{label.RenameTooltip}}" class="jxbtn">
    <i class="fa fa-pencil"></i><span class="dummy-label">{{label.Rename}}</span>
</a>
<a id="btn_download" data-original-title="{{label.DownloadTooltip}}" class="jxbtn">
    <i class="fa fa-share-square-o "></i><span class="dummy-label">{{label.Download}}</span>
</a>
<a id="btn_upload" data-original-title="{{label.UploadTooltip}}" class="jxbtn">
    <i class="fa fa-share-square-o "></i><span class="dummy-label">{{label.Upload}}</span>
</a>
<a id="btn_chmod" data-original-title="{{label.CHMODTooltip}}" class="jxbtn">
    <i class="fa fa-wrench "></i><span class="dummy-label">{{label.CHMOD}}</span>
</a>
</span>
</div>
<div class="note" style="margin-bottom:2px;margin-top:8px;margin-left:-6px;">{{label.CodeEditorTop}}</div>
<div id="editor_table_row" class="row" style="padding-bottom:0px;margin-bottom:0px">
    <div class="col-sm-12" style="padding-bottom:0px;margin-bottom:0px;">
        <table id="editor_table" style="display:none;padding: 0px;margin:0px;table-layout:fixed;margin-top:10px;" cellpadding="0" cellspacing="0">
            <tbody >
            <tr>
                    <td class="files_td" style="width:10%;padding-right:5px;vertical-align:top;max-width:175px;min-width:175px;overflow:hidden;">

                        <div id="files_holder" style="overflow-y:scroll;overflow-x:hidden;height:100%; border-bottom:dotted 1px #cccccc;">
                        <div id="editor_files"  style="margin:0px;padding:0px;">

                        </div>
                        </div>
                    </td>
                    <td style="width: 1px;background-color:#f2f2f2;"><div style="width:1px;"></div></td>
                    <td style="width:90%;vertical-align:top;padding-left:0px;">

                        <div id="editor_holder" style="overflow:hidden;margin-top:-8px;">
                            <ul id="code_editor_title_holder" class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab"><i class="fa fa-fw fa-file"></i>{{label.Empty}}</a>
                                </li>
                            </ul>

                            <div id="code_editor_content_holder" class="tab-content">
                                <div class="tab-pane fade active in" id="s1">
                                    <p>
                                    <div id="_code_editor_host" style="margin:0px;padding:0px;overflow:hidden">

                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    var editorInter = setInterval(function(){

        if(typeof jQuery != 'undefined' && typeof init_file_tools != 'undefined' && typeof CodeMirror != 'undefined'
                && typeof jxcore != 'undefined' && jxcore.IsConnected){
            clearInterval(editorInter);
            Init();
            window.minimize_menu($( ".minimize-left-menu" ), true);
        }
    }, 10);

    var Init = function(){
        init_file_tools();

        window.editors = {};

        var clearSelection = function(){
            var title_holder = document.getElementById('code_editor_title_holder');
            var content_holder = document.getElementById('code_editor_content_holder');

            for(var o in title_holder._childs){
                if(!title_holder._childs[o])
                    continue;
                title_holder._childs[o].className = "";
            }

            for(var o in content_holder._childs){
                if(!content_holder._childs[o])
                    continue;
                content_holder._childs[o].className = "tab-pane fade";
            }
        };

        var removeTab = function(id){
            var title_holder = document.getElementById('code_editor_title_holder');
            var content_holder = document.getElementById('code_editor_content_holder');

            title_holder.count--;

            title_holder.removeChild(title_holder._childs[id]);
            title_holder._childs[id] = null;
            delete(title_holder._childs[id]);
            content_holder.removeChild(content_holder._childs[id]);
            content_holder._childs[id] = null;
            delete(content_holder._childs[id]);
        };

        var getDocHeight = function(){
            var he = utils.getWindowHeight()-45;

            var ed_holder = document.getElementById('editor_holder');

            var row = document.getElementById('editor_table_row');
            row.style.height = (he-40) + "px";
            row.style.maxHeight = (he-40) + "px";
            row.style.overflow = 'hidden';
            document.getElementById('panel-main').style.overflow = "hidden";
            var tab = document.getElementById('editor_table');
            tab.style.display = '';

            document.getElementById('files_holder').style.maxHeight = (he-67) + "px";
            ed_holder.style.maxHeight = (he-50) + "px";
            ed_holder.style.maxWidth = (ed_holder.parentNode.clientWidth-3) + "px";

            return he-94;
        };

        document.rCount = 0;
        utils.addEvent(window, "resize", function(){
            document.rCount++;
            if(document.rCount===1){
                setTimeout(function(){
                    document.rCount = 0;
                    tabsResize();
                }, 1000);
            }
        });

        window.tabsResize = function(){
            var eh = getDocHeight();
            var title_holder = document.getElementById('code_editor_title_holder');
            var content_holder = document.getElementById('code_editor_content_holder');

            if(title_holder.clientHeight - 30 > 5){
                var diff = title_holder.clientHeight - 33;
                eh -= diff;
                for(var o in content_holder._childs){
                    var ed = content_holder._childs[o]._editor;
                    ed.style.height = parseInt(eh) + "px";
                    ed.style.maxHeight = parseInt(eh) + "px";
                }
            }
            else{
                for(var o in content_holder._childs){
                    var ed = content_holder._childs[o]._editor;
                    ed.style.height = (eh) + "px";
                    ed.style.maxHeight = (eh) + "px";
                }
            }

            var w = utils.getWindowWidth();
            var low = w<650;
            if(window.prevWidth != low ){
                if(low){
                    $(".dummy-label").css('display', 'none');
                    $(".dummyFile").css('display', 'none');
                    $('.files_td')[0].style.minWidth = "90px";
                    $('.files_td')[0].style.maxWidth = "90px";
                    $('.files_td')[0].style.width = "90px";
                    $('#toolbar-right')[0].style.display = 'none';
                }
                else
                {
                    $(".dummy-label").css('display', '');
                    $(".dummyFile").css('display', '');
                    $('.files_td')[0].style.minWidth = "175px";
                    $('.files_td')[0].style.maxWidth = "175px";
                    $('.files_td')[0].style.width = "175px";
                    $('#toolbar-right')[0].style.display = '';
                }
                window.prevWidth = low;
            }
        };

        var createTab = function(id, title){
            var eh = getDocHeight();

            var title_holder = document.getElementById('code_editor_title_holder');
            var content_holder = document.getElementById('code_editor_content_holder');

            setTimeout(tabsResize,1);

            if(!title_holder._childs){
                title_holder._childs = {};
                title_holder.innerHTML = "";
                content_holder.innerHTML = "";
                content_holder._childs = {};
                title_holder.count = 0;
            }else{
                clearSelection();
                for(var o in title_holder._childs){
                    if(title_holder._childs[o]._name == "{{label.Empty}}"){
                        removeTab(o);
                        break;
                    }
                }
            }

            var div = document.createElement("div");
            div.id = id;
            div.className = "tab-pane fade active in";
            var pp = document.createElement("p");
            var div_code_editor = document.createElement("div");
            div_code_editor.id = id + "_code_editor";
            div_code_editor.style.cssText = "position:relative;margin:0px;padding:0px;border-bottom:dotted 1px #ccc;height: "+eh+"px;overflow:hidden";
            pp.appendChild(div_code_editor);
            div.appendChild(pp);
            content_holder.appendChild(div);
            div._editor = div_code_editor;
            content_holder._childs[id] = (div);

            var li = document.createElement('li');
            li._name = title;
            li.className = 'active';
            var a = document.createElement('a');
            a.style.cursor = "pointer";
            a._target = id;
            a.onclick = function(){
                if(!title_holder._childs[this._target])
                    return false;
                clearSelection();
                window.tabsResize();
                title_holder._childs[this._target].className = "active";
                content_holder._childs[this._target].className = "tab-pane fade active in";
                clearSaveButton(title_holder._childs[this._target].btn);
            };
            a["data-toggle"] = "tab";

            a.innerHTML = '<i class="fa fa-fw fa-file"></i>' + title;
            li.appendChild(a);
            li._a = a;

            var ax = document.createElement('a');
            ax.style.cursor = "pointer";
            ax._target = id;
            ax.onclick = function(){
                clearSelection();
                var old, break_next = false;
                for(var o in title_holder._childs){
                    if(!title_holder._childs[o])
                        continue;

                    old = o;
                    if(break_next)
                        break;
                    if(o == this._target){
                        if(old === o){
                            break_next  = true;
                            continue;
                        }
                        break;
                    }
                }

                removeTab(this._target);

                if(old == this._target && !title_holder.count){
                    createTab("xo" + Date.now(), "{{label.Empty}}");
                }
                else{
                    if(!title_holder._childs[old]){
                        for(var o in title_holder._childs){
                            old = o;
                            break;
                        }
                    }

                    title_holder._childs[old].className = "active";
                    content_holder._childs[old].className = "tab-pane fade active in";
                    clearSaveButton(title_holder._childs[old].btn);
                }

                setTimeout(tabsResize,1);

                return false;
            };
            ax.innerHTML = '<i class="fa fa-fw fa-times"></i>';
            a.appendChild(ax);

            title_holder.appendChild(li);
            title_holder._childs[id] = (li);

            title_holder.count++;

            div_code_editor.ax = ax;

            return div_code_editor;
        };

        window.fileTree = {loaded_extensions:{}};

        var loadMode = function(loc){
            if(!fileTree.loaded_extensions[loc]){
                fileTree.loaded_extensions[loc] = 1;
            }
            else
                return;
            var elm_editor = document.getElementById("code_editor_content_holder");
            var scr = document.createElement("script");
            scr.src = "/cm/mode/" + loc;
            elm_editor.parentNode.appendChild(scr);
        };

        function clearSaveButton(btn){
            if(fileTree.saveButton){
                fileTree.saveButton.parentNode.removeChild(fileTree.saveButton);
                fileTree.saveButton = null;
            }

            if(btn){
                fileTree.saveButton = btn;
                document.getElementById('buttons').appendChild(btn);
            }
        }

        var editor_count = 0;

        function createButton(fname, loc, eid){
            var btn = document.createElement("a");
 //<a id="btn_refresh" data-original-title="{{label.RefreshTooltip}}" data-placement="top" rel="tooltip" class="jxbtn">
            btn.className = "jxbtn jxbtn_disabled";

            btn._name = fname;
            btn._location = loc;
            btn._eid = eid;
            btn._disabled = true;
            btn.onclick = function(){
                if(this._disabled)
                    return;
                var _this = this;
                toServer("saveFile", {up:this._location, src:editors[this._location].getValue()}, function(ret_val){
                    if(ret_val.err){
                        alert(ret_val.err);
                        if(ret_val.relogin){
                            location.href = "/index.html";
                        }
                        return;
                    }
                    utils.bubble("success", "{{label.FileSavedTitle}}", "{{label.FileSavedContent}}", 4000);
                    _this.disabled = "disabled";
                    _this._disabled = true;
                    _this.className = "jxbtn jxbtn_disabled";
                    var title_holder = document.getElementById('code_editor_title_holder');
                    title_holder._childs[_this._eid]._a.style.color = "";
                }, true);
            };
            btn.innerHTML += '<i class="fa fa-fw fa-save"></i> <span class="dummy-label">{{label.Save}}</span>';
            btn.disabled = "disabled";
            document.getElementById('buttons').appendChild(btn);

            fileTree.saveButton = btn;
            var title_holder = document.getElementById('code_editor_title_holder');
            title_holder._childs[eid].btn = btn;
            editors[loc].btn = btn;

            if(window.prevWidth){
                $(".dummy-label").css('display', 'none');
            }
            else{
                $(".dummy-label").css('display', '');
            }
        }

        var createEditor = function(type, _fname, loc){
            var fname = _fname;
            if(!fname)
                fname = "{{label.Empty}}";

            var eid = "jx_e_" + (editor_count++);
            var host_editor = createTab(eid, fname);
            if(!_fname)
                return;

            host_editor.innerHTML = "";
            var elm_editor = document.createElement("textarea");
            elm_editor.id = eid + "x_code_editor";

            var opts = {
                mode: type,
                theme: "eclipse",
                lineNumbers:true,
                lineWrapping:true,
                styleActiveLine:true,
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            };

            clearSaveButton();

            host_editor.appendChild(elm_editor);

            editors[loc] = CodeMirror.fromTextArea(elm_editor, opts);
            if(!_fname)
                opts.readOnly = true;
            else{
                createButton(fname, loc, eid);
            }

            editors[loc]._eid = eid;
            editors[loc].host = host_editor;
            if(_fname){
                var _event = function(inst, obj) {
                    if(inst.btn && inst.btn.loaded){
                        var title_holder = document.getElementById('code_editor_title_holder');
                        title_holder._childs[inst._eid]._a.style.color = "#b00000";
                        inst.btn.disabled = null;
                        inst.btn._disabled = false;
                        inst.btn.className = "jxbtn jxbtn_save";
                    }
                    else
                        inst.btn.loaded = true;
                };

                editors[loc].on('change', _event);
                editors[loc].on('inputRead', _event);
            }
        };

        var checkExtension = function(loc, arr){
            for(var o in arr){
              var ind = loc.lastIndexOf(arr[o]);
              if(ind>0 && ind === loc.length - (arr[o].length))
                return true;
            }
            return false;
        };

        var prevActive = null;
        var treeClick = function(fname, isParent, $this) {

            if(fileTree.loading){
                return;
            }

            var fullname;

            if(fname != '..'){
                if(fileTree.path.length)
                    fullname = fileTree.path + "/" + fname;
                else
                    fullname = fname;
            }else{
                var arr = fileTree.path.split("/");
                if(arr.length == 1){
                    fullname = "#"
                }else{
                    fullname = arr.splice(arr.length-1,1).join("/");
                }
            }

            if(isParent){
                getFiles(fullname);
                fileTree.activeFile = "";
            }else{
                if(prevActive){
                    prevActive.css('fontWeight', 300);
                }
                prevActive = $this;
                $this.css('fontWeight', 500);
                fileTree.activeFile = fullname;
                var _loc = fullname.toLowerCase();

                if(checkExtension(_loc, [".js", ".json", ".jxp"])){
                    getFile(fullname, fname, "js");
                    return;
                }

                if(checkExtension(_loc, [".css"])){
                    getFile(fullname, fname, "css");
                    return;
                }

                if(checkExtension(_loc, [".php"])){
                    loadMode("php/php.js");
                    getFile(fullname, fname, "php");
                    return;
                }

                if(checkExtension(_loc, [".go"])){
                    loadMode("go/go.js");
                    getFile(fullname, fname, "go");
                    return;
                }

                if(checkExtension(_loc, [".py"])){
                    loadMode("python/python.js");
                    getFile(fullname, fname, "python");
                    return;
                }

                if(checkExtension(_loc, [".rb"])){
                    loadMode("ruby/ruby.js");
                    getFile(fullname, fname, "ruby");
                    return;
                }

                if(checkExtension(_loc, [".md", ".mk", ".conf", ".ini", ".htaaccess"])){
                    loadMode("markdown/markdown.js");
                    getFile(fullname, fname, "markdown");
                    return;
                }

                if(checkExtension(_loc, [ ".htm", ".html", ".xml"])){
                    getFile(fullname, fname, "xml");
                    return;
                }

                if(checkExtension(_loc, [".coffee"])){
                    loadMode("coffeescript/coffeescript.js");
                    getFile(fullname, fname, "coffeescript");
                    return;
                }

                if(fname.indexOf(".")<0 || checkExtension(_loc, [".txt", ".ini", ".bat", ".sh", ".java", ".cs", ".aspx", ".lua", ".vb", ".sql", ".perl", ".c", ".cc", ".cpp", ".hpp", ".h", ".gitignore"])){
                    getFile(fullname, fname, "text");
                    return;
                }

                utils.bubble("warning", "{{label.FileTypeNotSupportedTitle}}", "{{label.FileTypeNotSupportedContent}}", 4000);
            }
        };

        window.getFiles = function(folder){
            fileTree.loading = true;
            fileTree.elm.innerHTML = "{{label.Loading}}";
            toServer("getFiles", {up:folder}, function(ret_val){

                fileTree.loading = false;

                if(ret_val.err){
                    alert("ERROR : " + JSON.stringify(ret_val.err));
                    if(ret_val.relogin){
                        location.href = "/index.html";
                    }
                    return;
                }

                if(folder != "#"){
                    fileTree.path = folder;
                }
                else{
                    fileTree.path = "";
                }

                renderTree(ret_val.nodes);
            }, true);
        };

        var getFile = function(loc, fname, type){
            var title_holder = document.getElementById('code_editor_title_holder');
            for(var o in title_holder._childs){
                if(title_holder._childs[o]._name == fname){
                    title_holder._childs[o]._a.onclick();
                    return;
                }
            }

            toServer("getFile", {up:loc, tp:type, fn:fname}, function(ret_val){

                if(ret_val.err){
                    alert("ERROR : " + JSON.stringify(ret_val.err));

                    if(ret_val.relogin){
                        location.href = "/index.html";
                    }
                    if(ret_val.reloadTree){
                        location.href = "/editor.html";
                    }
                    return;
                }

                if(ret_val.skip){
                    return;
                }


                createEditor(ret_val.tp, ret_val.fn, ret_val.loc);
                editors[ret_val.loc].setValue((ret_val.source));
            }, true);
        };

        var editor_types = [
            ".txt", ".ini", ".bat", ".sh", ".java", ".cs", ".aspx", ".lua",
            ".vb", ".sql", ".perl", ".c", ".cc", ".cpp", ".hpp", ".h", ".gitignore",
            ".js", ".json", ".jxp", ".css", ".php", ".go",
            ".md", ".mk", ".conf", ".ini", ".htaaccess", ".py", ".rb",
            ".htm", ".html", ".xml", ".coffee"
        ];

        function colorize(ext){
            if(!ext || ext.length==0){
                return "<span></span>";
            }
            var next = ext.toLowerCase();
            for(var o in editor_types){
                if(editor_types[o] == next){
                    return "<span style='color:#336699'>"+ext+"</span>";
                }
            }

            return ext;
        }

        function renderTree(nodes){
            var host = fileTree.elm;
            host.innerHTML = '';

            for(var o in nodes){
                var li = document.createElement('li');

                li.className = 'file_item';
                li.style.cssText = 'margin-top:5px;cursor:pointer;margin-left:-36px'
                var ext = colorize(nodes[o].ext);

                if(nodes[o].isParent)
                {
                    li.innerHTML = '<img class="dummyFile" src="/icons/folder.png" style="border:none;padding-right:5px;"/>';
                    li.isParent = true;
                    li.fullname = nodes[o].name;
                }
                else{
                    if(ext.indexOf('span')>=0){
                        li.editable = true;
                        li.innerHTML = '<img class="dummyFile" src="/icons/editable.png" style="border:none;padding-right:5px;"/>';
                        li.style.color = "#000000";
                    }
                    else{
                        li.innerHTML = '<img class="dummyFile" src="/icons/file.png" style="border:none;padding-right:5px;"/>';
                        li.style.color = "#666666";
                    }
                    li.fullname = nodes[o].fullname;
                }
                li.innerHTML += nodes[o].name + ext;
                host.appendChild(li);
            }

            $('.file_item').hover(function(){
               $(this).css('textDecoration', 'underline');
               if($(this)[0].editable){
                   $(this).css('color','#336699');
               }
               else{
                   $(this).css('color','#333333');
               }
            },function(){
                $(this).css('textDecoration', '');
                if($(this)[0].editable){
                    $(this).css('color','#000000');
                }
                else{
                    $(this).css('color','#666666');
                }
            });
            $('.file_item').click(function(){
                 treeClick($(this)[0].fullname, $(this)[0].isParent, $(this));
            });

            if(window.prevWidth){
                $(".dummyFile").css('display', 'none');
            }
            else{
                $(".dummyFile").css('display', '');
            }
        }

        function loadView(){
            var files_host = document.getElementById("editor_files");
            var host = document.createElement("ul");
            host.id="files_{{defaults.getUniqueId}}";
            host.className="ztree";
            files_host.appendChild(host);
            fileTree.hostId = host.id;
            fileTree.elm = host;
            fileTree.path = "";

            getFiles("#");
            createEditor("text/javascript", null, null);
        }

        loadView();


    };
</script>


