<style type="text/css">
    /* Prevent copy paste for all elements except text fields */
    *  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
    input, textarea  { -webkit-user-select:text; }
</style>
<link rel="stylesheet" href="/cm/codemirror.css">
<link rel="stylesheet" href="/cm/theme/eclipse.css">
<script src="/cm/codemirror.js"></script>
<script src="/cm/addon/hint/show-hint.js"></script>
<script src="/cm/addon/hint/javascript-hint.js"></script>
<script src="/cm/mode/javascript/javascript.js"></script>
<script src="/cm/addon/fold/foldcode.js"></script>
<link rel="stylesheet" href="/cm/addon/fold/foldgutter.css" />
<script src="/cm/addon/fold/foldgutter.js"></script>
<script src="/cm/addon/fold/brace-fold.js"></script>
<script src="/cm/addon/fold/xml-fold.js"></script>
<script src="/cm/addon/fold/comment-fold.js"></script>
<script src="/cm/mode/xml/xml.js"></script>
<link rel="stylesheet" href="/css/zTreeStyle.css" />

<div class="row">
<div class="col-sm-12">
    <div class="well" style="margin:0px;padding:0px;height:130px;overflow:scroll">

        <ul id="treeDemo" class="ztree"></ul>

    </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
<div id="holder" class="col-sm-12">
<div class="well" style="margin:0px;padding:0px;border:dotted 1px #ccc;height: 300px;overflow:scroll">
<textarea id="_code_editor" >
var test = function(){
  return 5;
};

test();
</textarea>
</div>
</div>

</div>

<script>

    var editorInter = setInterval(function(){

        if(typeof jQuery != 'undefined' && typeof CodeMirror != 'undefined' && typeof jxcore != 'undefined'){
            var elm_editor = document.getElementById("_code_editor");
            clearInterval(editorInter);
            var scr = document.createElement("script");
            scr.src = "/js/jquery.ztree.core-3.5.min.js";
            elm_editor.parentNode.appendChild(scr);
            Init();
        }
    }, 10);

    var Init = function(){
        var elm_editor = document.getElementById("_code_editor");
        var editor = CodeMirror.fromTextArea(elm_editor, {
            mode: "text/javascript",
            theme: "eclipse",
            lineNumbers:true,
            lineWrapping:true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        });


        var setting = {	};

        var zNodes =[
            { name:"pNode 01", open:true,
                children: [
                    { name:"pNode 11",
                        children: [
                            { name:"leaf node 111"},
                            { name:"leaf node 112"},
                            { name:"leaf node 113"},
                            { name:"leaf node 114"}
                        ]},
                    { name:"pNode 12",
                        children: [
                            { name:"leaf node 121"},
                            { name:"leaf node 122"},
                            { name:"leaf node 123"},
                            { name:"leaf node 124"}
                        ]},
                    { name:"pNode 13 - no child", isParent:true}
                ]},
            { name:"pNode 02",
                children: [
                    { name:"pNode 21", open:true,
                        children: [
                            { name:"leaf node 211"},
                            { name:"leaf node 212"},
                            { name:"leaf node 213"},
                            { name:"leaf node 214"}
                        ]},
                    { name:"pNode 22",
                        children: [
                            { name:"leaf node 221"},
                            { name:"leaf node 222"},
                            { name:"leaf node 223"},
                            { name:"leaf node 224"}
                        ]},
                    { name:"pNode 23",
                        children: [
                            { name:"leaf node 231"},
                            { name:"leaf node 232"},
                            { name:"leaf node 233"},
                            { name:"leaf node 234"}
                        ]}
                ]},
            { name:"pNode 3 - no child", isParent:true}

        ];

        function createTree(){
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        }

        var loadTreeInter = setInterval(function(){
            if($.fn.zTree){
                clearInterval(loadTreeInter);
                createTree();
            }
        }, 10);
    };
</script>


