<style>
    .footer-color{
        background-color:#f2f2f2;background-image:-moz-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f2f2f2));background-image:-webkit-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:-o-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:linear-gradient(to bottom,#f9f9f9,#f2f2f2);border-bottom:1px solid #DFDFDF
    }
</style>
<div class="page-footer" style="background-color:#f2f2f2;background-image:-moz-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f2f2f2));background-image:-webkit-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:-o-linear-gradient(top,#f9f9f9,#f2f2f2);background-image:linear-gradient(to bottom,#f9f9f9,#f2f2f2);border-bottom:1px solid #DFDFDF">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <span class="txt-color-blue hidden-mobile">JXman by Nubisa © 2014 &nbsp;&nbsp; </span>

            </div>
        </div>
    </div>
</div>