<script src="/js/offline/ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/offline/maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="/js/offline/ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!--<script>-->
    <!--if (!window.jQuery.ui) {-->
        <!--document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');-->
    <!--}-->
<!--</script>-->

<!-- CUSTOM NOTIFICATION -->
<script src="/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>{{label.MSBrowserOutOfDate}}</h1>

<![endif]-->


<!-- MAIN APP JS FILE
<script src="/js/app.min.js"></script>-->

<!-- PAGE RELATED PLUGIN(S) -->
<script src="/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="/js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script src="/jx?ms=connect" type="text/javascript"></script>

<script>

    document.onjxready = function () {
        jxcore.Start(function (status) {

            window.shadowWait = 0;

            window.toServer = function(a,b,c,shadow, progress){
                if(shadow){

                    var progressBar = "";
                    if (progress) {
                        progressBar =
                                '<div class="progress" rel="tooltip" data-original-title="0%" data-placement="top" style="margin-top: 10px; margin-bottom: 5px;">'
                                + '<div id="jx_pb" style="width: 0%;" class="progress-bar bg-color-teal"></div></div>';
                    }

                    var div = document.createElement("div");
                    div.id = "_MsgBoxBack";
                    div.className = "divMessageBox animated fadeIn fast";
                    div.style.cssText = "background: none repeat scroll 0 0 rgba(200, 200, 200, 0.6);"
                    var str = '<div id="Msg1" class="MessageBoxContainer animated fadeIn fast">'
                                 +'<div class="MessageBoxMiddle">'
                                     +'<span class="MsgTitle">'
                                        +'<strong><i class="fa fa-clock-o txt-color-orangeDark"> </i> {{label.PleaseWait}}...</strong>'
                                     +'</span>'
                                     + progressBar
                                     +'<p id="Msg11" class="pText"></p>'
                                 +'</div>'
                             +'</div>';



                    div.innerHTML = str;

                    if (progress) {
                        div.jx_progress = 0;

                        div.jx_increment = function() {
                            $("#Msg11").html(window.jxstatus);
                            if (window.jx_shadowdiv) {
                                var dx = (100 - window.jx_shadowdiv.jx_progress) / 5;
                                window.jx_shadowdiv.jx_progress += parseInt(dx);
                                $("#jx_pb").width( window.jx_shadowdiv.jx_progress + "%");
                            }
                        };
                    }

                    window.jx_cshadow = c;
                    window.shadowWait++;
                    if(window.jx_shadowdiv){
                        window.jx_shadowdiv.parentNode.removeChild(window.jx_shadowdiv);
                    }

                    window.jx_shadowdiv = div;
                    c = function(d,e){
                        window.shadowWait--;
                        if(window.shadowWait===0){
                            window.jx_shadowdiv.parentNode.removeChild(window.jx_shadowdiv);
                            window.jx_shadowdiv = null;
                        }
                        window.jx_cshadow(d,e);
                    };

                    document.body.appendChild(div);
                    if (div.jx_increment)
                        div.jx_increment();
                }

                jxcore.Call(a,b,c);
            };

            $("#jxFormMessage").hide();

            if (window.jxTemplateReadyForjxm) {
                window.jxTemplateReadyForjxm();
            }

            window.pinger = false;
            window.lastPing = Date.now();
            window.pingQ = false;
            window.pingQCounter = 0;

            if( "{{file.name}}" != "index" ) {
                jxcore.OnClose = function(){
                    window.lastPing = 0;
                    window.pingQCounter = 1;
                };
                if(window.interops){
                    clearInterval(window.interops);
                }

                window.interops = setInterval(function () {

                    if (window.jx_shadowdiv && window.jx_shadowdiv.jx_increment)
                        window.jx_shadowdiv.jx_increment();

                    if(window.pingQ)
                        return;

                    if (window.lastPing < Date.now() - 12000) {
                        if(window.pingQCounter == 0){
                            window.pingQCounter++;
                            window.lastPing = Date.now();
                            window.pinger = false;
                        }else{
                            window.pingQ = true;
                            $.SmartMessageBox({
                                title: "<i class='fa fa-chain-broken txt-color-orangeDark'></i> {{label.ServerNotResponding}}",
                                content: "{{label.ReloginQuestion}}",
                                buttons: '[{{label.No}}][{{label.Yes}}]'
                            }, function (ButtonPressed) {
                                if (ButtonPressed == "{{label.Yes}}") {
                                    location.href = "/index.html";
                                    return;
                                }
                                window.lastPing = Date.now()-3000;
                                window.pingQ = false;
                            });
                        }
                    }
                    if (!window.pinger) {
                        window.pinger = true;
                        toServer("userIn", null, function (ret_val) {
                            if (ret_val.relogin) {
                                location.href = "/index.html";
                                return;
                            }

                            if (ret_val.status) {
                                window.jxstatus = ret_val.status;
                                $("#Msg11").html(window.jxstatus);
                            }

                            window.pingQCounter = 0;
                            window.lastPing = Date.now();
                            window.pinger = false;
                        }, false);
                    }
                }, 3000);
            }else{
                jxcore.OnClose = function(){
                    setTimeout(function(){
                        location.href = "/index.html?"+Date.now();
                    },3000);
                };
            }
        });
    };

    window.utils = window.utils || {};
    utils.setActive = function(name){
        if(document.getElementById(name)){
            document.getElementById(name).className = "active";
        }
    };
    utils.setActive("Menu-{{file.name}}");

    utils.getWindowHeight = function(){
        var h;
        if(!window.innerWidth){
            if(!(document.documentElement.clientHeight == 0)){
                h=document.documentElement.clientHeight;
            } else{
                h=document.body.clientHeight;
            }
        } else {
            h = window.innerHeight;
        }

        if(h==undefined || h==null)
            h = 600; /*assume min height is 600*/
        else{
            try{h=parseInt(h);}catch(e){h=600;}
        }
        return h;
    };

    utils.getWindowWidth = function(){
        var h;
        if(!window.innerWidth){
            if(!(document.documentElement.clientWidth == 0)){
                h=document.documentElement.clientWidth;
            } else{
                h=document.body.clientWidth;
            }
        } else {
            h = window.innerWidth;
        }

        if(h==undefined || h==null)
            h = 600; /*assume min width is 600*/
        else{
            try{h=parseInt(h);}catch(e){h=600;}
        }
        return h;
    };

    utils.addEvent = function(elm, ev, handler) {
        if (elm.addEventListener)
            elm.addEventListener (ev, handler, false);
        else if (elm.attachEvent)
            elm.attachEvent ('on'+ev, handler);
    };
    utils.removeEvent = function(elm, ev, handler) {
        if (elm.removeEventListener)
            elm.removeEventListener (ev, handler);
        else if (elm.detachEvent)
            elm.detachEvent ('on'+ev, handler);
    };
    utils.logOut = function() {
        jxcore.Call('logout', null, function(err) {
            location.reload();
        });
        return false;
    };
    utils.logOutWithQuestion = function() {
        utils.jxConfirm('<i class="fa fa-sign-out txt-color-orangeDark"></i> ' + "{{label.logout}}", "{{label.logoutQuestion}}", function(ButtonPressed) {
            if (ButtonPressed === "{{label.Yes}}")
                utils.logOut();
        });
        return false;
    };
    utils.jxConfirm = function (title, question, cb, buttons) {

        if (!cb) return;

        $.SmartMessageBox({
            title : title,
            content : question,
            buttons : buttons || '[{{label.No}}][{{label.Yes}}]'
        }, function(ButtonPressed) {
            cb(ButtonPressed);
        });
    };
    utils.jxAskValue = function(title, question, cb, password) {

        if (!cb) return;

        $.SmartMessageBox({
            title : title,
            content : question,
            buttons : "[{{label.Cancel}}][{{label.Accept}}]",
            input : password ? "password" : "text",
            placeholder : "",
            inputValue : ""
        }, function(ButtonPress, Value) {

            var ok = ButtonPress === "{{label.Accept}}";
            cb(ok, Value);
        });
    };
    utils.jxAddMessage = function(type, txt) {

        if(type && txt)
            utils.bubble(type, null, txt, 10000);

        return;

        var p = document.getElementById('jxFormMessage');
        if (p) {
            if(!type && !txt){
                p.innerHTML = "";
                $("#jxFormMessage").hide();
                return;
            }

            p.innerHTML += "<p class='alert alert-" + type + "' style='padding:3px;margin:2px;'> <strong></strong> " + txt + " </p>";
            $("#jxFormMessage").show();
        } else {
            location.href = location.href + "#";
        }
    };

    utils.bubble = function(type, title, content, ms) {

        var colors = { success : "#8ac38b", danger: "#c26565", warning : "#ff9900", info : "#d6dde7" };
        var m_icons = {success: "fa-check", danger: "fa-exclamation", warning: "fa-exclamation", info :"fa-info"};
        var messages = { success : "{{label.MessageSuccess}}", danger : "{{label.MessageDanger}}", warning : "{{label.MessageWarning}}", info: "{{label.MessageInfo}}", error: "{{label.MessageError}}" };
        colors.error = colors.danger;

        var color = colors[type] || colors.info;
        $.smallBox({
            title : title || messages[type],
            content : "<i class='fa fa-clock-o'></i> <i>" + content + "</i>",
            color : color, //"#659265",
            iconSmall : "fa "+m_icons[type]+" fa-2x fadeInRight animated",
            timeout : ms
        });
    };

    utils.jxCall = function (method_name, op, id, args) {

        var obj = { op : op };
        if (id) obj.id = id;
        if (args)
            for(var o in args)
                obj[o] = args[o];

        window.toServer(method_name, obj, function (param) {
            if (param.err) {
                utils.jxAddMessage('danger', param.err);
            } else {
                document.location.reload();
            }
        }, true, true);

        return false;
    };


    utils.jxMonitorStartStop = function (start) {
        window.jxstatus = start ? "{{label.JXcoreMonitorStarting}}" : "{{label.JXcoreMonitorStopping}}";
        return utils.jxCall("monitorStartStop", start );
    };

    utils.jxAppStartStop = function (start, domain_name, div) {
        window.jxstatus = start ? "{{label.JXcoreAppStarting}}" : "{{label.JXcoreAppStopping}}";

        window.toServer("appStartStop", { op: start, id : domain_name, div : div }, function (param) {
            if (param.err) {
                utils.jxAddMessage('danger', param.err);
            } else {
                $("#jxAppStatus_" + div).html(param.status);
            }
        }, true, true);

        return false;
    };

    utils.jxInstall = function () {
        window.jxstatus = "{{label.JXcoreDownloading}}";
        return utils.jxCall("jxInstall", true);
    };

    utils.jxSwitchLang = function(lang) {
        return utils.jxCall("switchLang", lang);
    };

    $(document).ready(function() {
       //pageSetUp();

        $(".js-status-update a").click(function() {
            var selText = $(this).text();
            var $this = $(this);
            $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            $this.parents('.dropdown-menu').find('li').removeClass('active');
            $this.parent().addClass('active');
        });

        // initialize sortable
        $(function() {
            $("#sortable1, #sortable2").sortable({
                handle : '.handle',
                connectWith : ".todo",
                update : countTasks
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function() {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                $(this).parent().hide();

                $this.slideUp(500, function() {
                    $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countTasks();
                });
            } else {
                // insert undo code here...
            }
        });

        // count tasks
        function countTasks() {
            $('.todo-group-title').each(function() {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
            });
        }

        if (window.jxTemplateReady) {
            window.jxTemplateReady();
        }

        jxcore.OnError = function
                (a,b){
            document.title = "ERROR " + a  + b
        };

        window.updateTerminal = function(params){
            if(window.terminal && !params.reload && window.termx){
               window.termx(params);
            }else{
                toServer("killTerminal", null, function(ret_val){
                    if(ret_val.err){
                        alert(ret_val.err);
                        if(ret_val.relogin){
                            location.href = "/index.html";
                        }
                        return;
                    }
                    if(params.reload){
                        location.href = location.href.split("?")[0] + "?" + Date.now();
                    }
                });
            }
        };

        var addMenuIcons = function(){
            $('.normal-menu').each(function(index){
                var id = $(this).attr('id');
                var str = $(this).attr('data-icon') === "none" ? "" : '<img class="menu-icon" src="icons/' + id + '.png" id="'+id+'_img"/><span class="menu-text">';
                $(this).html(str + $(this).html() + "</span>");
                $(this).click(function(){
                    var id = $(this).attr('id');
                    var data_action = $(this).attr('data-action');
                    if (!data_action)
                        location.href = '/' + id + '.html';
                    else
                        eval(data_action);
                });
            });
        };

        addMenuIcons();
        $( ".normal-menu" ).hover(function() {
                    var id = $(this).attr('id');
                    $('#' + id + '_img').attr('src','icons/' + id + '_orange.png');
                    $( this ).css('color','#ffffff').css('background-color','#414647').css('border-top','dotted 1px #333').css('border-bottom','dotted 1px #444').css('padding-top','2px').css('padding-bottom','2px');
                },
                function(){
                    var id = $(this).attr('id');
                    $('#' + id + '_img').attr('src','icons/' + id + '.png');
                    $( this ).css('color','#d0d0d0').css('background-color','').css('border-top','').css('border-bottom','').css('padding-top','3px').css('padding-bottom','3px');;
                });

        $( ".minimize-left-menu" ).hover(function() {
                    var id = $(this).attr('id');
                    $( this ).css('color','#ffffff');
                },
                function(){
                    var id = $(this).attr('id');
                    $( this ).css('color','');
                });
        var menu_min = false;
        window.minimize_menu = function($this, force){
            if(!menu_min || force){
                $('.menu-text, .bold-menu').each(function(index){
                    $(this).css('display', 'none');
                });
                $('.normal-menu').css('margin-left','2px');
                $('#left-page').animate({'min-width':40, 'width':40, 'max-width':40});
                $this.html('[&nbsp;+&nbsp;]');
                $this.css('text-align', 'left');
            }else{
                $('.normal-menu').css('margin-left','3px');
                $('#left-page').animate({'min-width':180, 'width':180, 'max-width':180}, function(){
                    $('.menu-text, .bold-menu').each(function(index){
                        $(this).css('display', '');
                    });
                });
                $this.html('[&nbsp;-&nbsp;]');
                $this.css('text-align', 'right');
            }
            if(!force)
                menu_min = !menu_min;
            else
                menu_min = true;

            setTimeout(function(){
                if(window.tabsResize) window.tabsResize();
            },750);
        };

        $( ".minimize-left-menu" ).each(function(index){
            $(this).click(function(){
                minimize_menu($(this));
            });
        });
    });

</script>