<style type="text/css">
    .jxbtn{
        padding:3px;margin-right:2px;padding-left:6px;padding-right:5px;cursor:pointer;
        text-align: center;
        z-index:999999;
        background-color:#336699;background-image:-moz-linear-gradient(top,#336699,#6699bb);
        background-image:-webkit-gradient(linear,0 0,0 100%,from(#336699),to(#6699bb));
        background-image:-webkit-linear-gradient(top,#336699,#6699bb);background-image:-o-linear-gradient(top,#336699,#6699bb);
        background-image:linear-gradient(to bottom,#336699,#6699bb);border-bottom:1px solid #336699
    }
</style>
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->
<script src="/js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>{{label.MSBrowserOutOfDate}}</h1>

<![endif]-->


<!-- MAIN APP JS FILE -->
<script src="/js/app.min.js"></script>

<!-- PAGE RELATED PLUGIN(S) -->
<script src="/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="/js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script src="/jx?ms=connect" type="text/javascript"></script>


<script>

    document.onjxready = function () {
        jxcore.Start(function (status) {

            window.shadowWait = 0;

            window.toServer = function(a,b,c,shadow){
                if(shadow){
                    var div = document.createElement("div");
                    div.id = "_MsgBoxBack";
                    div.className = "divMessageBox animated fadeIn fast";
                    div.style.cssText = "background: none repeat scroll 0 0 rgba(200, 200, 200, 0.6);"
                    var str = '<div id="Msg1" class="MessageBoxContainer animated fadeIn fast">'
                            +'<div class="MessageBoxMiddle" style="font-size:120%">'
                            +'<strong><i class="fa fa-lg fa-fw fa-clock-o"></i>{{label.PleaseWait}}...</strong>'
                            +'</div></div></div>';

                    div.innerHTML = str;

                    window.jx_cshadow = c;
                    window.shadowWait++;
                    if(window.jx_shadowdiv){
                        window.jx_shadowdiv.parentNode.removeChild(window.jx_shadowdiv);
                    }

                    window.jx_shadowdiv = div;
                    c = function(d,e){
                        window.shadowWait--;
                        if(window.shadowWait===0){
                            window.jx_shadowdiv.parentNode.removeChild(window.jx_shadowdiv);
                            window.jx_shadowdiv = null;
                        }
                        window.jx_cshadow(d,e);
                    };

                    document.body.appendChild(div);
                }

                jxcore.Call(a,b,c);
            };

            if (window.jxTemplateReadyForjxm) {
                window.jxTemplateReadyForjxm();
            }
        });
    };

    window.utils = {};
    utils.setActive = function(name){
        if(document.getElementById(name)){
            document.getElementById(name).className = "active";
        }
    };
    utils.setActive("Menu-{{file.name}}");

    utils.getWindowHeight = function(){
        var h;
        if(!window.innerWidth){
            if(!(document.documentElement.clientWidth == 0)){
                h=document.documentElement.clientHeight;
            } else{
                h=document.body.clientHeight;
            }
        } else {
            h = window.innerHeight;
        }

        if(h==undefined || h==null)
            h = 600; /*assume min height is 600*/
        else{
            try{h=parseInt(h);}catch(e){h=600;}
        }
        return h;
    };

    utils.addEvent = function(elm, ev, handler) {
        if (elm.addEventListener)
            elm.addEventListener (ev, handler, false);
        else if (elm.attachEvent)
            elm.attachEvent ('on'+ev, handler);
    };
    utils.removeEvent = function(elm, ev, handler) {
        if (elm.removeEventListener)
            elm.removeEventListener (ev, handler);
        else if (elm.detachEvent)
            elm.detachEvent ('on'+ev, handler);
    };
    utils.logOut = function() {
        jxcore.Call('logout', null, function(err) {
            location.reload();
        });
        return false;
    };
    utils.jxConfirm = function (title, question, cb) {

        if (!cb) return;

        $.SmartMessageBox({
            title : title,
            content : question,
            buttons : '[No][Yes]'
        }, function(ButtonPressed) {
            cb(ButtonPressed);
        });
    };
    utils.jxAskValue = function(title, question, cb) {

        if (!cb) return;

        $.SmartMessageBox({
            title : title,
            content : question,
            buttons : "[Cancel][Accept]",
            input : "text",
            placeholder : "",
            inputValue : ""
        }, function(ButtonPress, Value) {

            var ok = ButtonPress === "Accept";
            cb(ok, Value);
        });
    };
    utils.jxAddMessage = function(type, txt) {

        if(type && txt)
            utils.bubble(type, null, txt, 10000);

        return;

        var p = document.getElementById('jxFormMessage');

        if (p) {
            if(!type && !txt){
                p.innerHTML = "";
                return;
            }

            p.innerHTML += "<p class='alert alert-" + type + "' style='padding:3px;margin:2px;'> <strong></strong> " + txt + " </p>";
        } else {
            alert("Displaying an alert, since there is no jxFormMessage div.\n\n" + txt);
        }
    };
    utils.bubble = function(type, title, content, ms) {

        var colors = { success : "#8ac38b", danger: "#c26565", warning : "#ff9900", info : "#d6dde7" };
        var m_icons = {success: "fa-check", danger: "fa-exclamation", warning: "fa-exclamation", info :"fa-info"};
        var messages = { success : "{{label.MessageSuccess}}", danger : "{{label.MessageDanger}}", warning : "{{label.MessageWarning}}", info: "{{label.MessageInfo}}", error: "{{label.MessageError}}" };
        colors.error = colors.danger;

        var color = colors[type] || colors.info;
        $.smallBox({
            title : title || messages[type],
            content : "<i class='fa fa-clock-o'></i> <i>" + content + "</i>",
            color : color, //"#659265",
            iconSmall : "fa "+m_icons[type]+" fa-2x fadeInRight animated",
            timeout : ms
        });
    };

    $(document).ready(function() {
       pageSetUp();

        $(".js-status-update a").click(function() {
            var selText = $(this).text();
            var $this = $(this);
            $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            $this.parents('.dropdown-menu').find('li').removeClass('active');
            $this.parent().addClass('active');
        });

        // initialize sortable
        $(function() {
            $("#sortable1, #sortable2").sortable({
                handle : '.handle',
                connectWith : ".todo",
                update : countTasks
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function() {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                $(this).parent().hide();

                $this.slideUp(500, function() {
                    $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countTasks();
                });
            } else {
                // insert undo code here...
            }
        })
        // count tasks
        function countTasks() {
            $('.todo-group-title').each(function() {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
            });
        }
        if (window.jxTemplateReady) {
            window.jxTemplateReady();
        }

        jxcore.OnError = function
                (a,b){
            alert("JXM : " + a + " - " + b);
        };

        window.updateTerminal = function(params){
            if(window.terminal && !params.reload && window.termx){
               window.termx(params);
            }else{
                toServer("killTerminal", null, function(ret_val){
                    if(ret_val.err){
                        alert(ret_val.err);
                        if(ret_val.relogin){
                            location.href = "/index.html";
                        }
                        return;
                    }
                    if(params.reload)
                        location.href = location.href + "#";
                });
            }
        };
    });

</script>