<ul>
    <li class="active">
        <a href="dashboard.html" title="{{label.Home}}"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>
    <li>
        <a href="adduser.html"><i class="fa fa-lg fa-fw fa-user"></i>{{label.addUser}}</a>
    </li>
    <li>
        <a href="addplan.html"><i class="fa fa-lg fa-fw fa-group"></i>{{label.DataPlans}}</a>
    </li>
    <li>
        <a href="cform.html"><i class="fa fa-lg fa-fw fa-cogs"></i>{{label.testForm}}</a>
    </li>
    <li>
        <a href="cdatatable.html"><i class="fa fa-lg fa-fw fa-archive"></i>{{label.cDataTable}}</a>
    </li>

</ul>