<td id='left-page'>
    <table id='menu-bar' cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td id='menu-top'>
                <div class='bold-menu'>{{label.Management}}</div>
                {{menu.createMenu}}
                <div class='minimize-left-menu'>&nbsp;[&nbsp;-&nbsp;]</div>
            </td>
        </tr>
        <tr>
            <td id='menu-middle'  class='dark-back'>


            </td>
        </tr>
        </tbody>
    </table>
</td>
<td id='space-tab'>
</td>
