<article class="col-xs-8 col-sm-8 col-md-10 col-lg-10">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-111" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-cogs"></i> </span>
            <h2 style="width:1px;overflow:visible"><nobr>{{label.PlanCurrent}}</nobr></h2>

        </header>

        <!-- widget div-->
        <div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                {{datatable.myPlan}}

            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</article>
