<style type="text/css">
    /* Prevent copy paste for all elements except text fields */
    *  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
    input, textarea  { -webkit-user-select:text; }
</style>
<link rel="stylesheet" href="/css/jquery.terminal.css" />


<div style="margin-left:-6px;margin-top:0px;">
<span id="buttons" style="padding:6px;background:#3A3F42;border:1px solid #444;border-radius: 2px;">
<i class="fa fa-fw fa-align-justify" style="cursor:default;color: #757a7b;"></i>&nbsp;&nbsp;
<a id="btn_restart" data-original-title="{{label.RestartTerminalTooltip}}" class="jxbtn">
    <i class="fa fa-refresh"></i> {{label.Restart}}
</a>
</span>
</div>
<div class="note" style="margin-bottom:4px;padding-top:4px;margin-left:-6px;cursor:default;">{{label.TerminalTop}}</div>

<div id="editor_table_row" class="row" style="padding-bottom:0px;margin-bottom:0px; overflow:hidden;">
    <div class="col-sm-12" style="padding-bottom:0px;margin-bottom:0px;width:100%;">
        <table id="editor_table" style="display:none;width:100%;padding: 0px;margin:0px;table-layout:fixed;" cellpadding="0" cellspacing="0">
            <tbody >
            <tr>
                <td style="vertical-align:top;">
                    <div id="editor_holder" style="width:100%;overflow-y:scroll">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

var editorInter = setInterval(function(){

    if(typeof jQuery != 'undefined' && typeof jxcore != 'undefined' && jxcore.IsConnected){
        var elm_editor = document.getElementById("editor_table");
        clearInterval(editorInter);
        var scr2 = document.createElement("script");
       // scr2.src = "/js/jquery.terminal-min.js";
       // var scr3 = document.createElement("script");
       // scr3.src = "/js/jquery.mousewheel-min.js";
        scr2.src = '/js/term.js';
        Init();

        scr2.onload = function(){
          window.refreshTerminal();
        };
        elm_editor.parentNode.appendChild(scr2);
       // elm_editor.parentNode.appendChild(scr3);
    }
}, 10);

var Init = function(){

    var getDocHeight = function(){
        var he = utils.getWindowHeight()-45;

        var ed_holder = document.getElementById('editor_holder');

        var row = document.getElementById('editor_table_row');
        row.style.height = (he-40) + "px";
        row.style.maxHeight = (he-40) + "px";
        row.style.overflow = 'hidden';
        document.getElementById('panel-main').style.overflow = "hidden";
        var tab = document.getElementById('editor_table');
        tab.style.display = '';

        ed_holder.style.height = (he-50) + "px";
        ed_holder.style.maxHeight = (he-50) + "px";
        ed_holder.style.maxWidth = (ed_holder.parentNode.clientWidth-3) + "px";

        return he-94;
    };

    document.rCount = 0;
    window.refreshTerminal = function(){
        document.rCount++;
        if(document.rCount===1){
            setTimeout(function(){
                document.rCount = 0;
                getDocHeight();
                terminalReady();
            }, 2000);
        }
    };

    utils.addEvent(window, "resize", refreshTerminal);

    window.term_commands = [];
    window.run_command = function(command) {
        if(!command)
            return;

        if(terminal.___disabled){
            terminal.write("Use Restart Button above to Restart the session");
            return;
        }

        if(!terminal._g ){
            terminal.write("{{label.TerminalPleaseWait}}");
            return;
        }

        term_commands.push(command);
        var isEnter = command.length && command.charCodeAt(0) == 13;
        if(isEnter){
            command = "";
        }
        toServer("sendToTerminal", {g:terminal._g, c:command, enter: isEnter}, function(ret_val){
            if(ret_val.err){
                alert(ret_val.err);
                if(ret_val.relogin){
                    location.href = "/index.html";
                }
                return;
            }
        });
    };

    var createTerminal = function(){
        var ed_holder = document.getElementById('editor_holder');
        var term = document.getElementById('x_terminal');
        if(window.terminal){
            terminal.destroy();
        }
        if(term){
           term.parentNode.removeChild(term);
        }

        term = document.createElement("div");
        term.id = "x_terminal";
        term.className = "note";
        term.style.cssText = "background:black;color:white;min-height:98%";
        ed_holder.appendChild(term);

        setTimeout(function(){
            var col = parseInt(parseInt(parseInt(term.clientWidth)/8));
            var row = parseInt(parseInt(term.clientHeight)/15);

            window.terminal = new Terminal({
                cols: col,
                rows: row,
                screenKeys: true
            });

            terminal.on('data', function(data) {
                run_command(data);
            });

            terminal.on('title', function(title) {
                //document.title = title;
            });

            terminal.open(term);

            terminal.echo = terminal.write;
        },1);
    };

    window.terminalReady = function(){
        setTimeout(function(){
            createTerminal();
            connectTerminal();
        },1);
    };

    var connectTerminal = function(){
        var term = document.createElement("div");
        var col = parseInt(parseInt(parseInt(term.clientWidth)/8));
        var row = parseInt(parseInt(term.clientHeight)/15);

        toServer("connectToTerminal", {cols:col, rows:row}, function(ret_val){
            if(ret_val.err){
                alert(ret_val.err);
                if(ret_val.relogin){
                    location.href = "/index.html";
                }
                return;
            }

            if(ret_val.reload){
                connectTerminal();
                return;
            }

            if(ret_val.errmsg){
                terminal.echo(ret_val.errmsg);
                return;
            }

            terminal._g = ret_val.g;
            terminal.___disabled = false;
            terminal.write("\x1b[1;32m{{label.TerminalConnectedToServer}}\n");
            terminal.write("\r");
        }, true);
    };

    document.getElementById("btn_restart").onmousedown = function(){
        terminal.error("{{label.RestartingTerminal}}");
        terminal.echo('\x1b[1;32m{{label.TerminalConnectingToServer}}');
        connectTerminal();
    };

    window.lines = "";
    window.linesCount = 0;
    window.flushCount = 0;

    window.termx = function(params){

        if(params.errmsg){
            terminal.___disabled = true;
            terminal.echo(params.errmsg);
            return;
        }

        if(params.exit){
            terminal.___disabled = true;
            terminal.echo("Session is closed");
            return;
        }
        var data = params.data;

        for(var n=0;n<data.length;n++){
            if(data.charCodeAt(n) == 32){
                if(n+1<data.length){
                    if(data.charCodeAt(n+1) == 13){
                        terminal.write('\n\r');
                    }
                }
            }
        }

        terminal.write(data);
    }
};
</script>


