{
         "monitor": {
                  "https": {
                           "httpsKeyLocation": "/home/nubisa/GitHub/JXPanel/app/spawner/server.key",
                           "httpsCertLocation": "/home/nubisa/GitHub/JXPanel/app/spawner/server.crt"
                  }
         },
         "portTCP": 10000,
         "portTCPS": 10001,
         "allowCustomSocketPort": true,
         "allowSysExec": true,
         "allowLocalNativeModules": true,
         "allowMonitoringAPI": false
}